.category {
  .title {
    margin: 20px 0px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .infos {
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    padding: 12px;
  }
  .contents_wrapper {
    width: 100%;
    line-height: 1.5;
  }
}
