@use "../styles/mixin.scss" as *;

.category {
  font-family: inherit;
  position: relative;
  .category_intro {
    display: flex;
    justify-content: center;
    margin-top: 130px;
    @media screen and (max-width: 700px) {
      margin-top: 50px;
    }
  }
  .scroll_spy {
    position: fixed;
    top: 130px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-left: 2px solid var(--opacityFore3);
    color: var(--opacityFore9);
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  .scroll_tags {
    max-width: calc((100vw - 1000px) / 2);
    display: flex;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      color: var(--pointColor);
    }
  }
  .title {
    padding: 20px 0px 10px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    word-break: keep-all;
  }
  .favorite {
    color: inherit;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 4px 8px 5px;
    border: 2px solid var(--pointColor);
    border-radius: 30px;
    background-color: var(--pointColor);
    cursor: pointer;
    transition: all 0.25s;
  }
  .unFavorite {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 4px 8px 5px;
    border: 2px solid var(--pointColor);
    color: var(--pointColor);
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s;
  }
  .infos {
    .info {
      font-size: 0.9rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .infos_line {
      margin: 20px auto;
      width: 60px;
      height: 2px;
      background-color: var(--opacityFore2);
    }
  }
  .iframeInfo {
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
    font-weight: bold;
    color: var(--subColor);
    line-height: 1.5;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      border-top: 5px solid var(--foreground);
      border-left: 5px solid var(--foreground);
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 15px;
      height: 15px;
      border-right: 5px solid var(--foreground);
      border-bottom: 5px solid var(--foreground);
    }
    @media screen and (max-width: 700px) {
      &::before {
        border-top: 3px solid var(--foreground);
        border-left: 3px solid var(--foreground);
      }
      &::after {
        border-right: 3px solid var(--foreground);
        border-bottom: 3px solid var(--foreground);
      }
    }
  }
  // cms에서 받은 content style
  .contents_wrapper {
    width: 100%;
    line-height: 1.5;
    color: var(--opacityFore8);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    iframe,
    q,
    section {
      margin: 2rem 0;
    }
    .contents_code {
      span {
        @include scrollbar();
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 50px;
      margin-bottom: 4px;
      font-weight: bold;
      color: var(--foreground);
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 1.4rem;
    }
    h5 {
      font-size: 1.2rem;
    }
    h6 {
      font-size: 1.1rem;
    }
    ul {
      margin-left: 20px;
      list-style: disc;
    }
    section {
      padding: 3rem 2rem;
      background-color: rgba(28, 28, 28, 1);
    }
    .iframe_container {
      position: relative;
      height: 750px;
      iframe {
        width: 100%;
      }
      @media screen and (max-width: 700px) {
        height: 20px;
        iframe {
          display: none;
        }
        &::before {
          content: "본 컨텐츠는 PC 에서 확인하실 수 있습니다";
          margin-top: 20px;
          display: block;
          padding: 20px;
          text-align: center;
          border: 1px solid var(--opacityFore3);
        }
      }
    }
    blockquote,
    q {
      position: relative;
      display: flex;
      padding: 3rem 2rem;
      background-color: var(--boxground);

      border-radius: 0 6px 6px 0;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        display: inline-block;
        width: 1.5%;
        height: 100%;
        border-radius: 6px 0 0 6px;
        background-color: var(--opacityPoint7);
      }
    }
    a {
      color: var(--subColor);
    }
  }
}
