@use "../styles/mixin.scss" as *;

.floatDial {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .floatDialList {
    display: flex;
    height: 0;
    flex-direction: column;
    transition: height 0.3s;
  }
  .floatDialList:has(.hovered) {
    height: 100%;
  }
  .floatDialItem {
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0);
    color: var(--foreground);
    font-weight: bold;
    cursor: pointer;
    @include preventSelect();
    transition:
      transform 0.3s,
      opacity 0.3s,
      border 0.2s,
      color 0.2s;
    transition-delay: calc(0.05s * var(--reverseIndex));
    &::after {
      content: attr(data-content);
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      width: 0;
      height: 100%;
      opacity: 0;
      color: var(--foreground);
      font-size: 12px;
      background-color: var(--pointColor);
      transition:
        width 0.3s,
        opacity 0.3s;
    }
    &.empty {
      opacity: 0;
      transform: scale(0);
    }
    &.hovered {
      opacity: 1;
      transform: scale(1);
      @include allowSelect();
    }
    &.unHovered {
      opacity: 0;
      transform: scale(0);
    }
    &:hover {
      border: 3px solid var(--pointColor);
      color: var(--pointColor);
      &::after {
        opacity: 1;
        width: 100%;
        background-color: var(--pointColor);
      }
    }
  }
  .floatDialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: var(--pointColor);
    transform: scale(1);
    transition: transform 0.2s;
    cursor: pointer;
    &.hovered {
      transform: scale(1.1);
    }
  }
}
