@use "../styles/mixin.scss" as *;

.floatDial {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .floatDialList {
    display: flex;
    height: 0;
    flex-direction: column;
    transition: height 0.3s;
  }
  .floatDialList:has(.hovered) {
    height: 100%;
  }
  .floatDialItem {
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px var(--opacityFore3);
    @include preventSelect();
    transition:
      transform 0.3s,
      opacity 0.3s;
    transition-delay: calc(0.05s * var(--reverseIndex));
    &.empty {
      opacity: 0;
      transform: scale(0);
    }
    &.hovered {
      opacity: 1;
      transform: scale(1);
      @include allowSelect();
    }
    &.unHovered {
      opacity: 0;
      transform: scale(0);
    }
  }
  .floatDialButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: var(--pointColor);
    cursor: pointer;
  }
}

@keyframes appearItems {
  to {
    transform: scale(1);
  }
}
@keyframes disAppearItems {
  to {
    transform: scale(0);
  }
}

@keyframes disAppearList {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
