.aside {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 30%;
  align-self: flex-start;
  > div {
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
  }
}
