:root {
  --background: rgba(237, 237, 237, 1);
  --opacityBack1 : rgba(237, 237, 237, 0.1);
  --opacityBack2 : rgba(237, 237, 237, 0.2);
  --opacityBack3 : rgba(237, 237, 237, 0.3);
  --opacityBack4 : rgba(237, 237, 237, 0.4);
  --opacityBack5 : rgba(237, 237, 237, 0.5);
  --opacityBack6 : rgba(237, 237, 237, 0.6);
  --opacityBack7 : rgba(237, 237, 237, 0.7);
  --opacityBack8 : rgba(237, 237, 237, 0.8);
  --opacityBack9 : rgba(237, 237, 237, 0.9);
  --boxground: rgba(40, 40, 40, 1);
  --opacityBox1: rgba(40, 40, 40, 0.1);
  --opacityBox2: rgba(40, 40, 40, 0.2);
  --opacityBox3: rgba(40, 40, 40, 0.3);
  --opacityBox4: rgba(40, 40, 40, 0.4);
  --opacityBox5: rgba(40, 40, 40, 0.5);
  --opacityBox6: rgba(40, 40, 40, 0.6);
  --opacityBox7: rgba(40, 40, 40, 0.7);
  --opacityBox8: rgba(40, 40, 40, 0.8);
  --opacityBox9: rgba(40, 40, 40, 0.9);
  --foreground: rgba(32, 32, 32, 1);
  --opacityFore1: rgba(32, 32, 32, 0.1);
  --opacityFore2: rgba(32, 32, 32, 0.2);
  --opacityFore3: rgba(32, 32, 32, 0.3);
  --opacityFore4: rgba(32, 32, 32, 0.4);
  --opacityFore5: rgba(32, 32, 32, 0.5);
  --opacityFore6: rgba(32, 32, 32, 0.6);
  --opacityFore7: rgba(32, 32, 32, 0.7);
  --opacityFore8: rgba(32, 32, 32, 0.8);
  --opacityFore9: rgba(32, 32, 32, 0.9);
  --pointColor: rgba(18, 184, 134, 1);
  --opacityPoint1: rgba(18, 184, 134, 0.1);
  --opacityPoint2: rgba(18, 184, 134, 0.2);
  --opacityPoint3: rgba(18, 184, 134, 0.3);
  --opacityPoint4: rgba(18, 184, 134, 0.4);
  --opacityPoint5: rgba(18, 184, 134, 0.5);
  --opacityPoint6: rgba(18, 184, 134, 0.6);
  --opacityPoint7: rgba(18, 184, 134, 0.7);
  --opacityPoint8: rgba(18, 184, 134, 0.8);
  --opacityPoint9: rgba(18, 184, 134, 0.9);
  --subColor: rgba(255, 85, 85, 1);
  --opacitySub1: rgba(255, 85, 85, 0.1);
  --opacitySub2: rgba(255, 85, 85, 0.2);
  --opacitySub3: rgba(255, 85, 85, 0.3);
  --opacitySub4: rgba(255, 85, 85, 0.4);
  --opacitySub5: rgba(255, 85, 85, 0.5);
  --opacitySub6: rgba(255, 85, 85, 0.6);
  --opacitySub7: rgba(255, 85, 85, 0.7);
  --opacitySub8: rgba(255, 85, 85, 0.8);
  --opacitySub9: rgba(255, 85, 85, 0.9);
  --tagColor: rgba(255, 137, 38,1);
  --opacityTag1: rgba(255, 137, 38, 0.1);
  --opacityTag2: rgba(255, 137, 38, 0.2);
  --opacityTag3: rgba(255, 137, 38, 0.3);
  --opacityTag4: rgba(255, 137, 38, 0.4);
  --opacityTag5: rgba(255, 137, 38, 0.5);
  --opacityTag6: rgba(255, 137, 38, 0.6);
  --opacityTag7: rgba(255, 137, 38, 0.7);
  --opacityTag8: rgba(255, 137, 38, 0.8);
  --opacityTag9: rgba(255, 137, 38, 0.9);
  --gray: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(28, 32, 36, 1);
    --opacityBack1: rgba(28, 32, 36, 0.1);
    --opacityBack2: rgba(28, 32, 36, 0.2);
    --opacityBack3: rgba(28, 32, 36, 0.3);
    --opacityBack4: rgba(28, 32, 36, 0.4);
    --opacityBack5: rgba(28, 32, 36, 0.5);
    --opacityBack6: rgba(28, 32, 36, 0.6);
    --opacityBack7: rgba(28, 32, 36, 0.7);
    --opacityBack8: rgba(28, 32, 36, 0.8);
    --opacityBack9: rgba(28, 32, 36, 0.9);
    --boxground: rgba(40, 40, 40, 1);
    --opacityBox1: rgba(40, 40, 40, 0.1);
    --opacityBox2: rgba(40, 40, 40, 0.2);
    --opacityBox3: rgba(40, 40, 40, 0.3);
    --opacityBox4: rgba(40, 40, 40, 0.4);
    --opacityBox5: rgba(40, 40, 40, 0.5);
    --opacityBox6: rgba(40, 40, 40, 0.6);
    --opacityBox7: rgba(40, 40, 40, 0.7);
    --opacityBox8: rgba(40, 40, 40, 0.8);
    --opacityBox9: rgba(40, 40, 40, 0.9);
    --foreground: rgba(237, 237, 237, 1);
    --opacityFore1: rgba(237, 237, 237, 0.1);
    --opacityFore2: rgba(237, 237, 237, 0.2);
    --opacityFore3: rgba(237, 237, 237, 0.3);
    --opacityFore4: rgba(237, 237, 237, 0.4);
    --opacityFore5: rgba(237, 237, 237, 0.5);
    --opacityFore6: rgba(237, 237, 237, 0.6);
    --opacityFore7: rgba(237, 237, 237, 0.7);
    --opacityFore8: rgba(237, 237, 237, 0.8);
    --opacityFore9: rgba(237, 237, 237, 0.9);
    --pointColor: rgba(18, 184, 134, 1);
    --opacityPoint1: rgba(18, 184, 134, 0.1);
    --opacityPoint2: rgba(18, 184, 134, 0.2);
    --opacityPoint3: rgba(18, 184, 134, 0.3);
    --opacityPoint4: rgba(18, 184, 134, 0.4);
    --opacityPoint5: rgba(18, 184, 134, 0.5);
    --opacityPoint6: rgba(18, 184, 134, 0.6);
    --opacityPoint7: rgba(18, 184, 134, 0.7);
    --opacityPoint8: rgba(18, 184, 134, 0.8);
    --opacityPoint9: rgba(18, 184, 134, 0.9);
    --subColor: rgba(255, 85, 85, 1);
    --opacitySub1: rgba(255, 85, 85, 0.1);
    --opacitySub2: rgba(255, 85, 85, 0.2);
    --opacitySub3: rgba(255, 85, 85, 0.3);
    --opacitySub4: rgba(255, 85, 85, 0.4);
    --opacitySub5: rgba(255, 85, 85, 0.5);
    --opacitySub6: rgba(255, 85, 85, 0.6);
    --opacitySub7: rgba(255, 85, 85, 0.7);
    --opacitySub8: rgba(255, 85, 85, 0.8);
    --opacitySub9: rgba(255, 85, 85, 0.9);
    --tagColor: rgba(255, 137, 38, 1);
    --opacityTag1: rgba(255, 137, 38, 0.1);
    --opacityTag2: rgba(255, 137, 38, 0.2);
    --opacityTag3: rgba(255, 137, 38, 0.3);
    --opacityTag4: rgba(255, 137, 38, 0.4);
    --opacityTag5: rgba(255, 137, 38, 0.5);
    --opacityTag6: rgba(255, 137, 38, 0.6);
    --opacityTag7: rgba(255, 137, 38, 0.7);
    --opacityTag8: rgba(255, 137, 38, 0.8);
    --opacityTag9: rgba(255, 137, 38, 0.9);
    --gray: #999;
  }
}
