@use "./mixin.scss" as *;

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  padding: 15px 25px;

  a {
    color: var(--opacityFore3);
    &.active {
      color: var(--foreground);
    }
  }

  transition:
    backdrop-filter 0.3s,
    background-color 0.3s,
    color 0.3s;

  > div {
    display: flex;
    align-items: center;
    max-width: 700px;
  }
  .others {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    font-size: 24px;
    color: var(--foreground);
  }
  img {
    width: 100px;
    height: auto;
  }
  > div {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
  }
}

body {
  @include scrollbar();
  * {
    @include scrollbar();
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 700px;
  min-height: 100%;
}
