@use "./mixin.scss" as *;
.mainLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--opacityFore3);
}

.mainTitle {
  font-size: 20px;
  font-weight: bold;
}
.mainDesc {
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
  line-height: 2;
  color: var(--opacityFore7);
  @include ellipsisMultiLine();
  -webkit-line-clamp: 4;
}
.mainTime {
  font-size: 14px;
}
